@page
@model OnlineLibrary.Pages.LoginModel
@{
    <form method = "post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="LoginInput.Email">Email:</label>
            <input asp-for="LoginInput.Email" class="form-control" />
            <span asp-validation-for="LoginInput.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LoginInput.Password">Password:</label>
            <input asp-for="LoginInput.Password" type="password" class="form-control" />
            <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

}
